<%= form_with(model: batting, local: true) do |form| %>
  <% if batting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batting.errors.count, "error") %> prohibited this batting from being saved:</h2>

      <ul>
        <% batting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id %>
  </div>

  <div class="field">
    <%= form.label :year_id %>
    <%= form.number_field :year_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
