<p id="notice"><%= notice %></p>

<h1>Battings Average</h1>

<%= form_tag('/battings', multipart: true) do -%>
  <div class="mb-3">
    <label for="file" class="form-label">File</label>
    <%= file_field_tag 'attachment', class: 'btn btn-primary' %>
  </div>

  <div class="mb-3">
    <%= submit_tag 'Upload', disabled: true, id: 'submit', class: 'btn btn-primary' %>
  </div>
<% end -%>

<fieldset class="border p-2">
  <legend class="w-auto">Filters</legend>
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <%= select_year(params[:year].to_i, { start_year: batting_start_year, end_year: batting_end_year, include_blank: true }, { class: "form-select" }) -%>
  </div>

  <div class="mb-3">
    <label for="Team" class="form-label">Team</label>
    <%= select("team", "team_id", options_for_select(team_names, params[:team_id]), { include_blank: true }, { id: 'team_name', class: "form-select" }) -%>
  </div>
</fieldset>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Year</th>
      <th>Team Name (s)</th>
      <th>Batting Average</th>
    </tr>
  </thead>

  <tbody>
    <% @battings.each do |batting| %>
      <tr>
        <td><%= batting.player_id %></td>
        <td><%= batting.year_id %></td>
        <td><%= teams(batting) %></td>
        <td><%= batting_average(batting) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @battings, theme: 'bootstrap-5' %>
